<section id="ccr-main-section">
<div class="container">


<section id="ccr-left-section" class="col-md-8">

  <section id="ccr-slide-main" class="carousel slide" data-ride="carousel">
    <table id="calendar">
      <caption >Saturday 29 November 2014</caption>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="7">This fixture was previously scheduled on Saturday 29 November 2014 at 22:00 but was rescheduled due to live broadcasting on Sky Sports</td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      </tbody>
    </table>





  </section><!-- /#ccr-slide-main -->


  <section class="bottom-border">
  </section> <!-- /#bottom-border -->




  <section id="ccr-world-news">
    <table id="calendar">
      <caption >Saturday 29 November 2014</caption>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="7">This fixture was previously scheduled on Saturday 29 November 2014 at 22:00 but was rescheduled due to live broadcasting on Sky Sports</td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      <tr>
        <td width="7%"></td>
        <td width="10%"></td>
        <td width="28%"></td>
        <td width="21%"></td>
        <td width="7%"></td>
        <td width="20%"></td>
        <td width="7%"></td>
      </tr>
      </tbody>
    </table>

  </section> <!-- / #ccr-world-news -->




  <section class="bottom-border"></section>


  <section class="bottom-border"></section>








</section><!-- /.col-md-8 / #ccr-left-section -->



<aside id="ccr-right-section" class="col-md-4 ccr-home">

  <section id="ccr-calender">

    <table id="calendar">
      <caption >LIVE!</caption>
      <thead data-iceapc="1">
      <tr>
        <th width="15%" title="Monday" scope="col">Pos</th>
        <th colspan="4" scope="col" title="Tuesday">Club</th>
        <th width="15%" title="Saturday" scope="col">Pld</th>
        <th width="15%" title="Sunday" scope="col">Pts</th>
      </tr>
      </thead>

      <tfoot data-iceapc="4">
      <tr data-iceapc="3">
        <td colspan="4" id="prev"><a href="leaguetable.html" title="Previous">&laquo; FULL LEAGUE TABLE</a></td>
        <td colspan="3" id="next" class="pad"><a href="form.html" title="Next">FORM GUIDE &raquo;</a></td>
      </tr>
      </tfoot>

      <tbody>
      <tr>
        <td>1 &#9679;</td><td colspan="4"><div align="center"><a href="single.html">Chelsea</a></div></td>
        <td>11</td>
        <td >29</td>
      </tr>
      <tr>
        <td>2 &#9679;</td><td colspan="4"><div align="center"><a href="#">Southampton</a></div></td>
        <td>11</td>
        <td >25</td>
      </tr>
      <tr>
        <td>3 &#9679;</td><td colspan="4"><div align="center"><a href="#">Man City</a></div></td>
        <td>11</td>
        <td >21</td>
      </tr>
      <tr>
        <td>4 &uarr;</td><td colspan="4"><div align="center"><a href="#">West Ham</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>5 &uarr;</td><td colspan="4"><div align="center"><a href="#">Swansea</a></div></td>
        <td>11</td>
        <td >18</td>
      </tr>
      <tr>
        <td>6 &darr;</td><td colspan="4"><div align="center"><a href="#">Arsenal</a></div></td>
        <td>11</td>
        <td >17</td>
      </tr>
      <tr>
        <td>7 &uarr;</td><td colspan="4"><div align="center"><a href="#">Man Utd</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>8 &uarr;</td><td colspan="4"><div align="center"><a href="#">Newcastle</a></div></td>
        <td>11</td>
        <td >16</td>
      </tr>
      <tr>
        <td>9 &uarr;</td><td colspan="4"><div align="center"><a href="#">Stoke</a></div></td>
        <td>11</td>
        <td >15</td>
      </tr>
      <tr>
        <td>10 &darr;</td><td colspan="4"><div align="center"><a href="#">Everton</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>11 &darr;</td><td colspan="4"><div align="center"><a href="#">Liverpool</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>12 &darr;</td><td colspan="4"><div align="center"><a href="#">Spurs</a></div></td>
        <td>11</td>
        <td >14</td>
      </tr>
      <tr>
        <td>13 &darr;</td><td colspan="4"><div align="center"><a href="#">West Brom</a></div></td>
        <td>11</td>
        <td >13</td>
      </tr>
      <tr>
        <td>14 &uarr;</td><td colspan="4"><div align="center"><a href="#">Sunderland</a></div></td>
        <td>11</td>
        <td >12</td>
      </tr>
      <tr>
        <td>15 &darr;</td><td colspan="4"><div align="center"><a href="#">Hull</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>16 &#9679;</td><td colspan="4"><div align="center"><a href="#">Aston Villa</a></div></td>
        <td>11</td>
        <td >11</td>
      </tr>
      <tr>
        <td>17 &#9679;</td><td colspan="4"><div align="center"><a href="#">Crystal Palace</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>18 &#9679;</td><td colspan="4"><div align="center"><a href="#">Leicester</a></div></td>
        <td>11</td>
        <td >9</td>
      </tr>
      <tr>
        <td>19 &#9679;</td><td colspan="4"><div align="center"><a href="#">QPR</a></div></td>
        <td>11</td>
        <td >8</td>
      </tr>
      <tr>
        <td>20 &#9679;</td><td colspan="4"><div align="center"><a href="#">Burnley</a></div></td>
        <td>11</td>
        <td >7</td>
      </tr>
      </tbody>
    </table>

  </section>


</aside><!-- / .col-md-4  / #ccr-right-section -->


</div><!-- /.container -->
</section><!-- / #ccr-main-section -->